body{
    background-color: rgb(169 169 169);
    padding-left: 100px;
    padding-right: 100px;
}

h1{
    font-size: 50px;
    color: white;
    font-family: cursive;
    text-align: center;
}

.navigation{
    display: flex;
    justify-content: center;
    background-color: rgb(249 128 255);
}

.menu{
    display: flex;
    justify-content: center;
    margin-left: center;
    
}

.menu ul{
    display: flex;
    list-style: none;
    margin-bottom: 30px;
    margin-top: 30px;
}

.menu ul li{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.menu ul li a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    margin-left: 65px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.search{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.search input{
    width: 300px;
    height: 40px;
    font-size: medium;
}

.search button{
    width: 100px;
    height: 45px;
    margin-left: 25px;
    background-color: black;
    color: white;
    font-size: medium;
}

.mainBody{
    display: flex;
    justify-content: center;
}

.part1{
    flex: 3;
    margin-top: 15px;
    background-color: aliceblue; 
}

h2{
    font-size: xx-large;
    font-style: oblique;
    font-family: Tahoma;
    text-align: center; 
}

.part1 p{
    font-size: large;
    margin-left: 20px;
    margin-right: 10px;
}

.part1 h3{
    font-size: x-large;
    font-style: oblique;
    font-family: Tahoma;
    margin-left: 20px;
    margin-right: 10px;
}

.part2{
    flex: 1;
    margin-top: 15px;
    margin-left: 15px;
    background-color: rgb(249 128 255);
}

#options ul li{
    margin-left: 30px;
    margin-right: 20px;
}

#options ul li a{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.final{
    display: flex;
    background-color: aliceblue;
    margin-top: 15px;
}

.final p{
    margin-left: 15px;
    margin-top: 15px;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 35px;
    padding-bottom: 35px;
}